body {
	background:#e1e3e4;
	font-size:12px;
	background-color: #e1e3e4 !important;
}
table th {
		background-image: linear-gradient(to bottom, #D9534F 0px, #C12E2A 100%);
		/*background-color: #AC2925;*/
		color: white;
		padding:12px;
}
table th.admin {
		background-image: linear-gradient(to bottom, #fbe571 0px, #FFD700 100%);
		/*background-color: #FFD700;*/
		color: black;
		padding:12px;
}
table td.spacinga {
		padding-top:8px;
		padding-left:5px;
		padding-bottom:1px;
}

table td.log_file {
		padding:5px;
}
table tr:nth-child(odd) {
			background-color: #eee;
}	
table tr.empty_row {
	font-size:2px;
	padding-top:0px;
	padding-left:0px;
	padding-bottom:0px;
}	
 input[type="text"] {
    width: 80%;
}
.homepage_header {
	text-align: center;
}
.header {
	width:1200px;
	float:left;
	background: #f9f9f9 !important;
	padding:24px 12px;
	border-bottom: 1px solid #e1e3e4;
}
.header .header_left {
	float: left;
}
.header .header_left a {
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
	color: #A30042;
	font-family: Arial, Helvetica, sans-serif;
}
.header .header_right {
	float:right;
	width:650px;
}
.header ul.navigation {
	list-style-type: none;
	margin-top:0px;
}
.header ul.navigation li {
	float: left;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 0px;
	margin-left: 8px;
}
.header ul.nav li a, a.view_all_ead_link, a.view_all_cces_link {
	text-decoration: none;
	font-weight: bold;
	color:#A30042;
}

.main-content {
	margin-left:auto;
	margin-right:auto;
	width:1200px;
	padding:12px;
}
.content {
	background:#f9f9f9;
	padding:12px;
	width:1200px;
}

.bold {
	font-weight:bold;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size:16px;
}
h3 {
	font-size:14px;
}
.tbl_view_ead_content th {
	text-align: left;
}
.clear {
	clear:both;
}
.specific_cces_left,
.specific_ead_left {
	float:left;
	margin-right: 4px;
	font-weight: bold;

}
.specific_ead_right {
	float:left;
}

.view_all_ead_link {
	text-decoration: none;
	color:#000000;
	font-weight: bold;
}
.footer {
	clear:both;
	text-align: center;
	bottom: 0px;
	position: relative;
	width: 1200px;
	padding:24px 0px;
	background:#f9f9f9;
	border-top: 1px solid #e1e3e4;
}

.header_right a:hover{
	background: #0F6;
	color: #A30042;
}

.header_right a:active{
	color: #A30042;
}

.team-member-pic img {
	max-height: 190px;
	margin-top: 50px;
}
.thumbnail_ccess {
	width: 200px;
	padding:12px;
}
.tbl_view_users_content #user_update_submit {
	margin: 8px 0px;
}
#add_user .ead_left,
#user_sign_in .ead_left {
	float:left;
	line-height: 34px;
	width: 100px;
	text-align: right;
	padding-right: 8px;
}
#add_user .ead_right,
#user_sign_in .ead_right {
	float:left;
	width: 300px;
}
#add_user .form-group,
#user_sign_in .form-group {
	margin-bottom: 6px;
}

input[type="text"] {
	width: 80%;
}
#txt_user_email {
	width: 100% !important;
}
